cmake-build*
.cache
.vscode
.idea
CMakeLists.txt.user
build*/
scripts/eval/eval_*
scripts/eval_full/eval_*
stats_*.*json
*.csv
__pycache__
CMakeUserPresets.json
clangd
datasets
.ci/cieval.yaml
cmake_modules/jammy-arm64-sysroot
cmake_modules/bookworm-arm64-sysroot
ds/
